[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
jupyterlab = "*"
matplotlib = "*"
lxml = "*"
requests = "*"
tqdm = "*"
src = {editable = true,path = "."}
seaborn = "*"
xlrd = "*"

[requires]
python_version = "3.7"
